<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Necesidades básicas de la página
 ================================================== -->
<meta charset="utf-8">
<title>Quiz de Video</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
 <!-- Javascript
 ================================================== -->
<script type="text/javascript" src="js/head.load.min.js"></script>

<!-- CSS
 ================================================== -->
<!-- <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="../static/css/quiz-video.css" />
<link rel="stylesheet" href="../static/css/vzaar.jQuery-0.1.css"> -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/quiz-video.css" /> 
<link rel="stylesheet" href="{{STATIC_URL}}css/vzaar.jQuery-0.1.css">

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="favicon-57.png">
<link rel="apple-touch-icon" sizes="72x72" href="favicon-72.png">
<link rel="apple-touch-icon" sizes="114x114" href="favicon-114.png">
<link rel="apple-touch-icon" sizes="144x144" href="favicon-144.png">
<link rel="apple-touch-icon" href="favicon-57.png">
<link rel="stylesheet" href="{{STATIC_URL}}css/vzaar.jQuery-0.1.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://libs.vzaar.io/js/vzaar.jQuery-0.1.min.js"></script>
<script src="https://player.vzaar.com/libs/flashtakt/client.js"></script>
<script src="{{STATIC_URL}}js/script.js"></script>

<!--*********************
JQUERY
*********************-->
</head>
<body>

<!--*********************
CONTENIDO
*********************-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="video">

<!--********** Video **********-->
        <!-- <iframe 
        allowfullscreen 
        allowtransparency="true" 
        class="vzaar-video-player"
        data-times='{"3":"#quiz_1", "9": "#quiz_2"}'
        data-times-banners='{"106":"#bannerh1", "10": "#bannerv1"}'
        frameborder="0" 
        data-vzaar = "true"
        height="432"
        id="video_movie"
        mozallowfullscreen 
        name="video_movie" 
        src="http://view.vzaar.com/2291655/player?apiOn=true" 
        title="vzaar video player" 
        type="text/html" 
        webkitallowfullscreen 
        width="768"
        >
        </iframe>
        -->

        <iframe 
        allowfullscreen 
        allowtransparency="true" 
        class="vzaar-video-player"
        data-times-banners='{"106":"#bannerh1"}'
        frameborder="0" 
        data-vzaar = "true"
        height="432"
        id="video_movie"
        mozallowfullscreen 
        name="video_movie" 
        src="http://view.vzaar.com/2291655/player?apiOn=true" 
        title="vzaar video player" 
        type="text/html" 
        webkitallowfullscreen 
        width="768"
        >
        </iframe>

        <!--<video width="320" controls data-times='{"3":"#quiz_1", "9": "#quiz_2"}'  height="240" id="video_movie" class="video_2">
            <source src="movie.mp4" type="video/mp4">
        </video>-->

<!--*********************
QUIZ
*********************-->
<!--******** Pregunta 1 ********-->
        <div id="quiz_1" class="flotante">
          <h3>¿Vestibulum scelerisque in orci ac hendrerit?</h3>

<!-- Preguntas -->
          <form action="">
            <div>
              <input type="radio" name="quiz_1">
              <label for="">Curabitur convallis imperdiet risus, quis scelerisque lectus facilisis in.</label>
            </div>

            <div>
              <input type="radio" name="quiz_1">
              <label for="">Duis convallis leo eu lacinia eleifend.</label>
            </div>

            <div>
              <input type="radio" name="quiz_1" data-correcta="true">
              <label for="">Quisque luctus magna diam, eget fermentum elit maximus nec.</label>
            </div>
          </form>
          <span id="retroalimentacion"></span>

<!-- Botones -->
          <div class="clearfix botones">
            <div class="col-md-6">
              <a href="#" onclick="validarRespuesta(this);">Contestar</a>
            </div>
          </div>

        </div>

<!--******** Pregunta 2 ********-->
        <div id="quiz_2" class="flotante">
          <h3>¿Hola?</h3>

<!-- Pregunta 2 -->
          <form action="">
            <div>
              <input type="radio" name="quiz_2" data-correcta="true">
              <label for="">Hi</label>
            </div>

            <div>
              <input type="radio" name="quiz_2">
              <label for="">Hello</label>
            </div>

            <div>
              <input type="radio" name="quiz_2">
              <label for="">What</label>
            </div>
          </form>

          <span id="retroalimentacion"></span>

<!-- Botones -->
          <div class="clearfix botones">
            <div class="col-md-6">
              <a href="#" onclick="validarRespuesta(this);">Contestar</a>
            </div>
          </div>

        </div>

<!--*********************
BANNER HORIZONTAL
*********************-->
<!--******** Banner 1 ********-->
<!--
        <div id="bannerh1"  class="banner-horizontal" style="display:none;">

          <div id="cerrarh1" class="boton-cerrar">
            <a href="#" onclick="close_banner(this);"></a>
          </div>

          <div class="col-md-10">
            <a href="#">
              <img src="{{STATIC_URL}}images/icono-descargar.png" alt="Icono PDF">
              Descarga el material de apoyo
            </a>

          </div>
        </div>
-->
        <div id="bannerh1"  class="banner-central" style="display:none;">

          <div class="col-md-10">
            <a href="http://cryptic-earth-5001.herokuapp.com/quiz/vzaar" target="_self">Ver el siguiente video!</a>

          </div>
        </div>


<!--*********************
BANNER VERTICAL
*********************-->
<!--******** Banner 1 ********-->
        <div id="bannerv1" class="banner-vertical" style="display:none;">

          <div id="cerrarv1" class="boton-cerrar">
            <a href="#" onclick="close_banner(this);"></a>
          </div>

          <p>Visita las siguientes ligas para reforzar tu aprendizaje</p>

          <ul>
            <li><a href="http://localhost:8000/quiz/vzaar/" target="_self">Maecenas efficitur justo </a></li>
            <li><a href="#">Nunc non nulla et lectus</a></li>
            <li><a href="#">Etiam sit amet ex interdum</a></li>
            <li><a href="#">In a turpis lobortis</a></li>
            <li><a href="#">Maecenas a eros varius</a></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</div>

</body>
</html>